{#
# Copyright 2019
#
# Workshop Ninja Python
#}

{% extends "base.html" %}

{% block content %}


<h3>Ninjas</h3>
<a href="addNinja" class="btn btn-success">
  <i class="glyphicon glyphicon-plus"></i>
  Ninja
</a>

<a href="searchNinja" class="btn btn-info">
  <i class="glyphicon glyphicon-search"></i>
  Search
</a>

<a href="" class="btn btn-info">
  <i class="glyphicon glyphicon-globe"></i>
  Top Ninja
</a>


{% for ninja in ninjas %}
<div class="media">
  <a href="/showNinja?ninja_ID={{ ninja.key.id() }}">
    <div class="media-left">
      {% if ninja.imageUrl %}
        <img src="{{ninja.imageUrl}}" style="width: 100px; height: 100px;">
      {% else %}
        <img src="https://www.theninjaproject.bbva/assets/vectors/timeline/timeline-icon-dojo-kata-public.svg" style="width: 100px; height: 100px;">
      {% endif %}
    </div>
    <div class="media-body">
      <h4>{{ninja.name}} - {{ninja.email}}</h4>
      <h5>{{ninja.department|default('Unknown', True)}}</h5>
      <h5>{{ninja.building|default('Unknown', True)}}</h5>
    </div>
  </a>
</div>
{% else %}
<h6>No Ninjas found</h6>
{% endfor %}


{% endblock %}
