{#
# Copyright 2019
#
# Workshop Ninja Python
#}

{% extends "base.html" %}

{% block content %}

<style>
    h1, h2, h3, h4, h5, h6 {
      color: white
    }
</style>

<h3>Ninja</h3>

<div class="media">
  {# [START ninja_image] #}
  <div class="media-left">
    {% if ninja.imageUrl %}
      <img class="ninja-image" src="{{ninja.imageUrl}}">
    {% else %}
      <img class="ninja-image" src="https://www.theninjaproject.bbva/assets/vectors/timeline/timeline-icon-dojo-kata-public.svg">
    {% endif %}
  </div>
  {# [END ninja_image] #}
  <div class="media-body">
    <h4>{{ninja.name}}</h4>
    <h5>{{ninja.department|default('Unknown', True)}}</h5>
    <h5>{{ninja.building|default('Unknown', True)}}</h5>
  </div>
</div>

<div class="btn-group">
    <a href="/ninjas/{{ninja.id}}/edit" class="btn btn-primary">
      <i class="glyphicon glyphicon-edit"></i>
      Edit Ninja
    </a>
    <a href="/ninjas/{{ninja.id}}/delete" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Delete Ninja
    </a>
</div>

{% endblock %}
