{#
# Copyright 2019
#
# Workshop Ninja Python
#}

{# [START form] #}
{% extends "base.html" %}

{% block content %}


<h3>{{action}} Ninja</h3>

<!-- El formulario necesita incluir enctype="multipart/form-data" para procesar ficheros -->

<form action="/saveNinja" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="name">Email</label>
    <input type="text" name="email" id="email"class="form-control"/>
  </div>

  <div class="form-group">
    <label for="department">Department</label>
    <input type="text" name="department" id="department"class="form-control"/>
  </div>

  <div class="form-group">
    <label for="building">Building</label>
    <input type="text" name="building" id="building"class="form-control"/>
  </div>

  <div class="form-group">
    <label for="image">Profile Image</label>
    <input type="file" name="image" id="image" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="imageUrl">Profile Image URL</label>
    <input type="text" name="imageUrl" id="imageUrl"class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# [END form] #}
